@font-face {
  font-family: 'icomoon';
  src: url('icomoon.woff?oj5c07') format('woff');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cog:before {
  content: "\e994";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-loop:before {
  content: "\ea2e";
}
.icon-checked:before {
  content: "\ea52";
}
.icon-unchecked:before {
  content: "\ea53";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
